<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.asiantech.internship">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screen.ScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day5.FriendActivity" />
        <activity android:name=".day7.ui.MainActivity" />
        <activity android:name=".day9.ui.FeedActivity" />
        <activity android:name=".day11.ui.activity.NoteActivity" />
        <activity android:name=".day13.ui.NinePathActivity" />
        <activity android:name=".day15.ui.activity.QuizActivity" />
        <activity android:name=".day16.ui.activity.TabActivity" />
        <activity android:name=".day24.ChartActivity" />
    </application>
</manifest>
