<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.asiantech.internship">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".day19.activity.MusicActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".day19.service.SongService"
            android:enabled="true"/>
            <!--<intent-filter>-->
                <!--<action android:name="vn.asiantech.internship.PAUSE" />-->
                <!--<action android:name="vn.asiantech.internship.PLAY" />-->
                <!--<action android:name="vn.asiantech.internship.PREVIOUS" />-->
                <!--<action android:name="vn.asiantech.internship.NEXT" />-->
                <!--<action android:name="vn.asiantech.internship.AUTO_NEXT" />-->
                <!--<action android:name="vn.asiantech.internship.AUTO_NEXT_SELECTED" />-->
                <!--<action android:name="vn.asiantech.internship.CHOOSE_PLAY" />-->
                <!--<action android:name="vn.asiantech.internship.SONGS" />-->
                <!--<action android:name="vn.asiantech.internship.SEND_POSITION" />-->
                <!--<action android:name="vn.asiantech.internship.SHUFFLE" />-->
                <!--<action android:name="vn.asiantech.internship.SHUFFLE_SELECTED" />-->
            <!--</intent-filter>-->
    </application>

</manifest>